.reviewDiv{
    padding: 10px;
}

.reviewQues{
    padding: 15px;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
}



.queLabel{
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
}